/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.audio-player-default {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	cursor: default;
	flex-direction: column;
}
.my-audio {
	display: none;
}

.visibility-target-buffer {
	position: inherit !important;
}

.waveform-small {
	position: relative;
	width: 100%;
	height: 30px;
	justify-content: space-between;
	align-items: baseline;
	display: flex;
}
.waveform {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	justify-content: space-between;
	align-items: baseline;
	display: flex;
}

.wv {
	flex: 1;
	height: 100px;
	background-color: var(--color-base-50);
	border-left: 1px solid var(--color-base-10);
	transition: all 0.2s;
}

.wv:hover {
	background-color: var(--color-accent-2);
}
.wv:active {
	background-color: var(--color-base-10);
}

.played {
	background-color: var(--color-accent-1);
}
.playpause-small {
	flex: 1;
	margin: 6px;
	background-color: var(--color-accent-1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 30px;
	max-height: 30px;
	max-width: 30px;
	opacity: 0.8;
	transition: all 0.15s;
	cursor: pointer;
}
.playpause-small:hover {
	opacity: 1;
}
.playpause-small:active {
	background-color: var(--color-base-10);
}

.playpause {
	flex: 1;
	margin: 6px;
	background-color: var(--color-accent-1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 30px;
	max-height: 40px;
	max-width: 40px;
	opacity: 0.8;
	transition: all 0.15s;
	cursor: pointer;
}
.playpause:hover {
	opacity: 1;
}
.playpause:active {
	background-color: var(--color-base-10);
}
.seconds {
	border-radius: 2;
	min-height: unset;
	padding-top: 0;
	padding-bottom: 0;
	height: 25px;
	flex: unset;
}

.controls {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
.controls :nth-child(1) {
	order: 2;
}
.controls :nth-child(2) {
	order: 3;
}
.controls :nth-child(3) {
	order: 1;
}

.player-container {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.audio-fixed-player {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	cursor: default;
	flex-direction: column;

	position: fixed;
	bottom: 40px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: var(--background-modifier-cover);
}

@media (min-width: 500px) {
	.audio-fixed-player {
		bottom: 0px;
	}
	.player-container {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	.controls {
		display: flex;
		flex-direction: column;
		padding-right: 10px;
		align-items: center;
	}

	.controls :nth-child(1) {
		order: 1;
	}
	.controls :nth-child(2) {
		order: 2;
	}
	.controls :nth-child(3) {
		order: 3;
	}
}

.play-comment-container {
	display: inline-block;
}

.play-comment {
	display: flex;
	flex: 1;
	margin: 2px;
	background-color: var(--color-accent-1);
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	opacity: 0.8;
	transition: all 0.15s;
	cursor: pointer;
}
.play-comment:hover {
	opacity: 1;
}
.play-comment:active {
	background-color: var(--color-base-10);
}

.timeline {
	height: 20px;
	display: flex;
	justify-content: space-between;
	color: var(--color-base-50);
	font-size: 0.9rem;
}

.spectrum {
	width: 100%;
}

.comment-list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	gap: 2px;
}
.comment {
	border-radius: 10px;
	padding: 5px;
	border-radius: 3px;
	margin-left: 5px;
	min-height: 20px;
	transition: all 0.2s;
	display: grid;
	grid-template-columns: auto 1fr 24px;
	gap: 10px;
	padding-right: 4px;
	align-items: center;
}

.comment-icon {
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	display: flex;
	height: 24px;
	width: 24px;
	flex-direction: row;
	align-items: center;
}

.comment:hover {
	background-color: var(--background-modifier-cover);
}
.comment:active {
	background-color: var(--color-base-10);
}

.comment > .timestamp,
.comment > .delete-comment {
	cursor: pointer;
	color: var(--color-base-50);
}

.delete-comment {
	width: 20px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s;
}
.delete-comment:hover {
	background-color: var(--color-red);
	color: var(--white);
}
.delete-comment:active {
	background-color: var(--color-base-10);
}

.comment-input {
	display: flex;
	gap: 6px;
	margin-top: 4px;
}
.comment > .content {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.comment > .content:hover {
	color: var(--color-accent-1);
}

.comment > .timestamp:hover {
	color: var(--color-accent-1);
}

.active-comment {
	background-color: #ffffff10;
}
.active-comment > .timestamp {
	cursor: pointer;
	color: var(--white);
}
